<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
<nav>
    <a href="/">
        <img src="../images/wholasale.jpg" width="350" alt="Wholesale supplier logo">
    </a>
    <h1>Purchases</h1>
    <ul>
        <li><a href="/product"><img src="../images/product_icon.png" width="15"> Products</a></li>
        <li><a href="/company"><img src="../images/company.png" width="25">Companies</a></li>
        <li><a href="/purchase"><img src="../images/purchases_logo.jpg" width="15">Purchases</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>
<div>
    <nav>
        <ul>
            <li><a th:href="@{/purchase/get-all}">All Purchases</a></li>
            <li><a th:href="@{/purchase/get-by-id}">Purchase By Id</a></li>
            <li><a th:href="@{/purchase/add}">Add purchase</a></li>
        </ul>
    </nav>
</div>
</body>
</html>