<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Remove Product</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
<nav>
    <a href="/">
        <img src="../images/wholasale.jpg" width="350" alt="Wholesale supplier logo">
    </a>
    <h1>Remove Product</h1>
    <ul>
        <li><a href="/product"><img src="../images/product_icon.png" width="15"> Products</a></li>
        <li><a href="/company"><img src="../images/company.png" width="25">Companies</a></li>
        <li><a href="/purchase"><img src="../images/purchases_logo.jpg" width="15">Purchases</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>
<div>
    <nav>
        <ul>
            <li><a th:href="@{/product/get-all}">All Products</a></li>
            <li><a th:href="@{/product/get-by-barcode}">Product By Barcode</a></li>
            <li><a th:href="@{/product/register}">Register product</a></li>
            <li><a th:href="@{/product/edit}">Edit product</a></li>
            <li><a th:href="@{/product/remove}">Remove Product</a></li>
        </ul>
    </nav>
</div>
<form method="post" th:action="@{/product/remove}">
    <label for="barcode">Barcode:</label>
    <input type="text" id="barcode" name="barcode" required maxlength="35">
    <button type="submit">Remove</button>
</form>
<div th:text="${removeProduct}"></div>
</body>
</html>