<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Company</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
<nav>
    <a href="/">
        <img src="../images/wholasale.jpg" width="350" alt="Wholesale supplier logo">
    </a>
    <h1>Products</h1>
    <ul>
        <li><a href="/product"><img src="../images/product_icon.png" width="15"> Products</a></li>
        <li><a href="/company"><img src="../images/company.png" width="25">Companies</a></li>
        <li><a href="/purchase"><img src="../images/purchases_logo.jpg" width="15">Purchases</a></li>
    </ul>
</nav>
<div>
    <nav>
        <ul>
            <li><a th:href="@{/company/get-all}">All Companies</a></li>
            <li><a th:href="@{/company/get-by-bulstat}">Company By Bulstat</a></li>
            <li><a th:href="@{/company/add}">Add company</a></li>
            <li><a th:href="@{/company/edit}">Edit company</a></li>
            <li><a th:href="@{/company/remove}">Remove company</a></li>
        </ul>
    </nav>
</div>
<form action="#" th:action="@{/company/edit}" method="post">
    <div>
        <label for="bulstat">Bulstat:</label>
        <input type="text" id="bulstat" name="bulstat" th:required="true" th:maxlength="35" required/>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:maxlength="35"/>
    </div>
    <div>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" th:maxlength="30" required/>
    </div>
    <div>
        <label for="state">State:</label>
        <input type="text" id="state" name="state" th:maxlength="30" required/>
    </div>
    <div>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" th:maxlength="30" required/>
    </div>
    <div>
        <label for="street">Street:</label>
        <input type="text" id="street" name="street" th:maxlength="30" required/>
    </div>
    <div>
        <label for="number">Number:</label>
        <input type="text" id="number" name="number" th:maxlength="30" required/>
    </div>
    <div>
        <label for="zipCode">ZIP Code:</label>
        <input type="text" id="zipCode" name="zipCode" th:maxlength="30" required/>
    </div>
    <div>
        <label for="vatNumber">VAT Number:</label>
        <input type="text" id="vatNumber" name="vatNumber" th:maxlength="20" required/>
    </div>
    <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" th:maxlength="15"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:maxlength="35"/>
    </div>
    <button type="submit">Edit</button>
</form>
<p th:text="${editCompany}"></p>
</body>
</html>